.fixed-top{
     top: auto;
}
.header{
     background-image: linear-gradient(rgb(208, 206, 206),rgb(241, 235, 235)) ;
}
.gradient-custom {
     background: #84fab0;
     background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
     background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
      background: #84fab0;
      background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
      background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
 }
 .gradient-custom-2{
     background: rgb(73,186,222);
      background: linear-gradient(90deg, rgba(73,186,222,1) 42%, rgba(214,154,154,1) 55%);
 }

 .product-card{
    width:250px; 
    height: 460px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    position: relative;
    cursor: pointer;
}

.product-hover{
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    
}
.product-card:hover .product-hover{
     background: none repeat scroll 0 0 rgba(152, 149, 133, 0.8);
     opacity: 1;
     transition: 1s;
     visibility: visible;  
}
.product-card:hover{
    border: blue solid 1px;
}
.checked {
     color: orange;
   }
.home-header-size{
     font-size: 25px;
}
.home-card{
     cursor: pointer;
     border-radius: 10px;
     background: rgb(206,210,224);
     background: linear-gradient(90deg, rgba(206,210,224,1) 34%, rgba(221,237,241,1) 51%);
     box-shadow: -1px -1px 5px  ;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.dropdown-menu{
    z-index: 2000;
}
.avatar{
    height: 28px;
    width: 28px;
    border-radius: 20px;
}