*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
#wrapper{
height: 1600px;
width: 100%;
}

#header{
position: fixed;
width: 100%;
height: 130px;
background-color: #333333 ;
z-index: 1;
top:0;

}
.headerbox1{
position: absolute;
line-height: 100px;
margin-left: 50px;
color: #ff9900;


}
.headerbox2{
left:50%;
transform: translateX(-50%);
position: absolute;
line-height: 100px;

}
.headerbox2 .headerbox2-content li{
display: inline-block;
font-size: 24px;
padding-left: 80px;

}
.headerbox2 .headerbox2-content li a{
text-decoration: none;
color: white;
}
.headerbox2>.headerbox2-content>li:hover a{
font-size: 30px;
color: #999900;
}
.pagebutton:hover,.item-page:hover {
  font-size: 30px;
color: #999900 !important;
}
.pagebutton{
  color: white;
  cursor: pointer;
}


.item-page{
  cursor: pointer;
}
.headerbox3{
position: absolute;

right: 0;

}
.headerbox3 div{
display: block;
margin-left:5px;
color: #ccffcc;
line-height: 100px;
}
#header .headerbox3 .btn-search{
float: right;
cursor: pointer;
color: white;
font-size: 25px;
line-height: 100px;   
padding: 0 55px;

}
#header .head{
background-color:gray;
position: relative;
height: 30px;

}
#header .head1{
float: right;
cursor: pointer;
position: relative;
line-height: 30px;
}
#header>.head>.head1>li{
display: inline-table;
padding-right: 15px;
}

#header .head .head1>li>a{
text-decoration: none;
color:white;
padding-right: 15px;
}

#header .head1>li:hover{
  opacity: 0.3;
}
#header>.headerbox3:hover .btn-search{
color: #999900;
font-size: 40px;
}

/* footer */
#footer{
  width: 100%;
  background-color: whitesmoke;
  height: 250px;
  position: relative;
  
  }
  .footerbox1{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  
  }
  .footerbox1 li{
      list-style-type: none;
  }
  .footerbox1 a{
  margin-top: 8px;
  display: inline-block;
  color: brown;
  }
  .footerbox1 li a:hover {
      
      font-style: italic;
      margin-left: 10px;
  }
  .footerbox2{
  position: absolute;
  top: 10%;
  left: 30%;
  width: 20%;
  }
  .footerbox2 li{
      list-style-type: none;
  }
  
  .footerbox2 a{
  margin-top: 4px;
  display: inline-block;
  }
  .footerbox2 li a:hover{
      font-style: italic;
      margin-left: 10px;
  }
  .footerbox3{
  position: absolute;
  top: 30%;
  right: 10%;
  width: 35%;
  height: 120px;
  display: block;
  }

  .body{
    height: 1000px;
    background-color: aqua;
  }